:root {
    --blueFont: #fff;
    --shadow: #000000a4;
    --backGround: #242424;
    --backGroundDark: #161616;
    --text-color: #2c3e50;

    /*
    color: var(--text-color);
    color: var(--shadow);
    */
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 05px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: var(--backGroundDark); /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #3f3f3f; /* Cor do "polegar" da barra de rolagem */
    border-radius: 03px; /* Bordas arredondadas do polegar */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--backGround); /* Cor do polegar quando passa o mouse por cima */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
    color: var(--blueFont);
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif ; color: #ffffff;
    background-color: var(--backGround);
}

header {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../img/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

main{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.myData{
    width: auto;
    height: auto;
}

.my-photo{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.my-photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.my-name{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.my-name h1{
    font-size: 1.3em;
    color: #fff;
    padding-top: 5%;
}

.my-job{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.my-job h1{
    font-size: 1em;
    color: #cacaca;
    font-weight: 300;
}

.my-contact{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff !important;
}

.my-contact ul{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.my-contact ul li{
    margin: 2% 5%;
    font-size: 1.5em;
    color: #ffffff;
}

.my-contact ul li i{
    color: #ffffff;
}

.container{
    width: 100%;
    padding: 5% 15% 0 15%;
    display: flex;
}

.aboutAndSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 890px;
}

#aboutAndSkills{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills{
    width: 40%;
    padding: 0 1%;
}

.skills ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills ul li {
    margin: 1% 1%;
}

.skills ul li img{
    height: 60px;
    width: auto;
    background-color: var(--backGroundDark);
    border-radius: 10px;
}

.about h1{ font-size: 1.5em;}
.about h2{ font-size: 1.0em; font-weight: 300;}

.skills h1{ font-size: 1.5em;}
.skills h2{ font-size: 1.0em;}

.about{
    width: 60%;
    padding: 0 1%;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-service{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.35em;
}

.service-itens{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.iten{
    width: 300px;
    height: 200px;
    background: var(--backGroundDark);
    border-radius: 10px;
    margin: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-iten-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    
}

.name-service {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 0.85em;
    width: 100%;
    padding-bottom: 0.2em;
}

.description-service {
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: 0.7em;
    width: 100%;
    padding: 0 5%;
}

.ct-iten img {
    width: 50px;
    height: auto;
}

.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}


.ct-experience h1{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.itens-academics {
    display: flex;
    justify-content: center;
    align-items: center;
}


.academics{
    width: 450px;
    height: 260px;
    background: var(--backGroundDark);
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0 0 35px 0 var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.academics:hover{
    background: #414141;
    cursor: pointer;
}

.ct-academics{
    border: solid 1px #ffffff65;
    border-radius: 10px;
    margin: 4%;
}

.academics h1{
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    padding: 1% 10% 0 10%;
}

.academics h2{
    width: 100%;
    text-align: center;
    font-size: 0.95em;
    font-weight: 400;
    padding: 1% 15%;
}

.academics h3{
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    font-weight: 200;
    padding: 1% 10% 2% 10%
}

.academics h3 b{
    font-weight: 300;
}

.ct-itens-academics{
    margin: 0 1%;
}


.academics-education {
    width: 430px;
    height: 200px;
    background: var(--backGroundDark);
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0 0 35px 0 var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.academics-education img {
    width: 370px;
    height: auto;
}

#certIcon {
    background-image: url(../img/certificadoIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px;
}

.ct-academics-education {
    border: solid 1px #ffffff65;
    border-radius: 10px;
    margin: 4%;
    width: 100%;
}

.academics-education h1{
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    padding: 5% 5% 1% 5%;
}

.academics-education h2{
    width: 100%;
    text-align: center;
    font-size: 0.95em;
    font-weight: 400;
    padding: 1% 15%;
}

.academics-education h3{
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    font-weight: 200;
    padding: 1% 10% 2% 10%
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ct-contact{
    width: 100%;
}

.ct-contact h1{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.35em;
}

.itens-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact {
    width: 225px;
    height: 100px;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0 0 35px 0 var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-size: 2.5em;
}

.ct-footer {
    height: 30px;
    max-height: 50px;
    width: 100%;
    max-width: 100%;
    background: #161616;
    color: #fff;
    font-weight: 400;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    margin-top: 5%;
    position: absolute;
    z-index: 10;
}

.ct-footer label{
    color: #fff !important;
}

#img-portifolio{
    width: 170px;
    height: auto;
}

.name-service-portifolio {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
    width: 100%;
    padding-top: 0.4em;
}

.ct-modal-desc-exp{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0000005d;
}

.modal-desc-exp {
    background-color: #2c2c2c;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    overflow-y: auto;
}

.menu-modal-exp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5% 4% 5%;
    font-size: 1.5em;
    border-bottom: solid 1px #ffffff30;
}

.text-modal-exp{
    padding: 1% 5%;
}

.text-modal-exp h1{
    font-size: 1.2em;
    font-weight: 700;
    padding: 1%;
}

.text-modal-exp h2{
    font-size: 1em;
    font-weight: 400;
    padding: 1%;
}

.text-modal-exp h3{
    font-size: 1em;
    font-weight: 300;
    padding: 0 1% 1% 1%;
}

.text-modal-exp h4{
    font-size: 1em;
    font-weight: 200;
    padding: 0 2%;
    font-size: 0.8em;
    line-height: 1.7;
}

#iconFecharDetalhes{
    cursor: pointer;
}

#iconFecharDetalhes:hover{
    cursor: pointer;
    color: #161616;
}

.ct-title-cargo{
    margin: 0;
    padding: 0;
    width: 80%;
}

.ct-title-cargo-img {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.menu-ct-title-cargo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dowload{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dowload button{
    font-size: 1.2em;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-weight: 400;
    background-color: #161616;
    cursor: pointer;
}

.dowload button:hover{
    background-color: #292929;
    cursor: pointer;
}

.dowload button a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dowload button a i{
    width: 50px;
    height: 50px;
    background-color: #0000006e;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    cursor: pointer;
}

.dowload button a label{
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}


/*EFEITO ZOOM*/
.img-portifolio {transition: transform 0.3s ease;}
.ct-iten-img:hover .img-portifolio{transform: scale(1.1);}
.form-contact{transition: transform 0.3s ease;}
.form-contact:hover{transform: scale(1.1);}


@media screen and (min-width: 280px) and (max-width: 349px) {

    .modal-desc-exp {
        width: 260px;
        height: 80vh;
    }

    .about h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .about h2 {
        font-size: 1.0em;
        font-weight: 200;
        text-align: center;
        padding-bottom: 2%;
    }

    .skills h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .service-itens {
        display: block;
    }

    .iten {
        width: 290px;
        height: 230px;
        margin: 3% 0;
    }

    .container {
        padding: 5% 5% 0 5%;
    }

    .academics {
        width: 290px;
        height: 300px;
        margin: 5% 0;

    }

    .academics h1 {
        font-size: 1em;
        padding: 5% 4% 1% 4%;
    }

    .academics-education {
        width: 290px;
        height: 180px;
        margin: 5% 0;
    }

    .academics-education img {
        width: 275px;
        height: auto;
    }

    .skills ul li img {
        height: 51px;
    }

    .academics-education h1 {
        font-size: 1em;
        padding: 5% 4% 1% 4%;
    }

    .itens-academics, .aboutAndSkills {
        display: block; 
    }

    .about {
        width: 100%;
        padding: 1% 1%;
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1% 1%;
    }

    .ct-skills {
        width: 435px;
    }

}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .modal-desc-exp {
        width: 340px;
        height: 85vh;
    }

    .about h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .about h2 {
        font-size: 1.0em;
        font-weight: 200;
        text-align: center;
        padding-bottom: 2%;
    }

    .skills h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .service-itens {
        display: block;
    }

    .iten {
        width: 340px;
        height: 210px;
        margin: 2% 0;
    }

    .container {
        padding: 5% 5% 0 5%;
    }

    .academics {
        width: 340px;
        height: 250px;
        margin: 5% 0;
    }

    .academics-education {
        width: 340px;
        height: 210px;
        margin: 5% 0;
    }

    .academics-education img {
        width: 330px;
        height: auto;
    }

    .skills ul li img {
        height: 55px;
    }

    .itens-academics, .aboutAndSkills {
        display: block; 
    }

    .about {
        width: 100%;
        padding: 1% 1%;
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1% 1%;
    }

    .ct-skills {
        width: 435px;
    }

}

@media screen and (min-width: 401px) and (max-width: 499px) {
    .modal-desc-exp {
        width: 340px;
        height: 85vh;
    }

    .about h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .about h2 {
        font-size: 1.0em;
        font-weight: 200;
        text-align: center;
        padding-bottom: 2%;
    }

    .skills h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .service-itens {
        display: block;
    }

    .iten {
        width: 350px;
        height: 210px;
        margin: 2% 0;
    }

    .container {
        padding: 5% 5% 0 5%;
    }

    .academics {
        width: 350px;
        height: 250px;
        margin: 5% 0;
    }

    .academics-education {
        width: 350px;
        height: 210px;
        margin: 5% 0;
    }

    .academics-education img {
        width: 340px;
        height: auto;
    }

    .skills ul li img {
        height: 60px;
    }

    .itens-academics, .aboutAndSkills {
        display: block; 
    }

    .about {
        width: 100%;
        padding: 1% 1%;
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1% 1%;
    }

    .ct-skills {
        width: 435px;
    }

}

@media screen and (min-width: 500px) and (max-width: 599px) {

    .modal-desc-exp {
        width: 450px;
        height: 90vh;
    }

    .about h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .about h2 {
        font-size: 1.0em;
        font-weight: 200;
        text-align: center;
        padding-bottom: 2%;
    }

    .skills h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .service-itens {
        display: block;
    }

    .iten {
        width: 450px;
        height: 210px;
        margin: 2% 0;
    }

    .container {
        padding: 5% 5% 0 5%;
    }

    .academics {
        width: 450px;
        height: 250px;
        margin: 5% 0;
    }

    .academics-education {
        width: 450px;
        height: 230px;
        margin: 5% 0;
    }

    .academics-education img {
        width: 390px;
        height: auto;
    }

    .skills ul li img {
        height: 80px;
    }

    .itens-academics, .aboutAndSkills {
        display: block; 
    }

    .about {
        width: 100%;
        padding: 1% 1%;
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1% 1%;
    }

    .ct-skills {
        width: 435px;
    }

}

@media screen and (min-width: 600px) and (max-width: 799px) {

    .about h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .about h2 {
        font-size: 1.0em;
        font-weight: 300;
        text-align: center;
        padding-bottom: 1%;
    }

    .skills h1 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 1%;
    }

    .service-itens {
        display: block;
    }

    .iten {
        width: 450px;
        height: 250px;
        margin: 2% 0;
    }

    .container {
        padding: 5% 5% 0 5%;
    }

    .academics {
        width: 450px;
        height: 300px;
        margin: 5% 0;
    }

    .academics-education {
        width: 450px;
        height: 300px;
        margin: 5% 0;
    }

    .academics-education img {
        width: 380px;
        height: auto;
    }

    .skills ul li img {
        height: 85px;
    }

    .itens-academics, .aboutAndSkills {
        display: block; 
    }

    .about {
        width: 100%;
        padding: 1% 1%;
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1% 1%;
    }

    .ct-skills {
        width: 470px;
    }

}

@media screen and (min-width: 800px) and (max-width: 919px) {

    .iten {
        width: 260px;
        height: 280px;
    }

    .container {
        padding: 5% 5% 0 5%;
    }

    .academics {
        width: 360px;
        height: 300px;
    }

    .academics-education {
        width: 375px;
        height: 190px;
    }

    .academics-education img {
        width: 360px;
        height: auto;
    }

    .skills ul li img {
        height: 55px;
    }

}






